<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>zc_caipiao.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7A8FB09E1D9F7F02009F31E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A8FB0B71D9F7F02009F31E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A8FB0C21D9F7F02009F31E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
